html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #4d8cc6;
    opacity: 0.6;
    transition: 0.3s;
    padding: 30px;
}

.navbar a:hover {
    color: #4d8cc6;
    opacity: 1;
}

.navbar {
    position: fixed;
    right: 0;
}

.topbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: -25px;
    height: 80px;
    background-color: lightgray;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline:after {
    content: "";
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 25%;
    transform: scaleX(0);
    height: 2px;
    bottom: 25px;
    left: 0;
    right: 0;
    background-color: #4d8cc6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#active {
    color: #4d8cc6;
    opacity: 1;
    transition: 0.3s;
}

.front {
    display: flex;
    justify-content: center;
    background-image: url(images/arcodebackground.png);
    background-size: 100%;
}

.left {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: lightgray;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 20px 40px 60px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    color: #183669;
}

.right {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: lightgray;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 20px 40px 60px;
    border-radius: 0 15px 15px 0;
    text-align: center;
    color: #183669;
}

.btn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-color: #4d8cc6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1;
}

.fh {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ftext {
    margin-bottom: 10%;
}

.fgames {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Robo Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.thumb {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
}

.thumb:hover {
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.playpage {
    background-color: #172130;
    color: white;
}

.loginpage {
    overflow: hidden;
}

.sharepage {
    background-color: #172130;
}

.hero {
    height: 100%;
    width: 100%;
    background-color: #172130;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    align-self: center;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 3% auto;
    margin-top: 8%;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 5px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
}

button {
    color: #fff;
}

button.toggle-button.login {
    padding: 10px 30px !important;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    line-height: 18px;
}

button.toggle-button.register {
    padding: 10px 30px !important;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    line-height: 18px;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #172130;
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field.success {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-field.has-error {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(252, 70, 70);
    outline: none;
    background: transparent;
}

.submit-log-btn.enabled {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 5px;
    background-color: #172130;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
    line-height: 20px;
    top: 10px;
}

.submit-log-btn.disabled {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #172130;
    border: 0;
    outline: not-allowed;
    border-radius: 30px;
    position: relative;
    top: 20px;
}

.submit-reg-btn.enabled {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #172130;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
    line-height: 20px;
    top: 15px;
}

.submit-reg-btn.disabled {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #172130;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
    top: 20px;
}

.check-box {
    margin: 20px 10px 30px 0;
}

span {
    color: #777;
    font-size: 13px;
    position: relative;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

#error_msg_login {
    color: #f74040;
    display: none;
    bottom: 10px;
}

#error_msg_register {
    color: #f74040;
    display: none;
    bottom: 10px;
}

.gotw {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.gotwleft {
}

.gotwright {
    margin-left: 12%;
}

#gotwimg {
    height: 400px;
    width: fit-content;
    border-radius: 10px;
    border-color: transparent;
    border-width: 3px;
    border-style: solid;
}

#gotwimg:hover {
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.sharehead {
    font-size: 45px;
    text-align: center;
}

.shareheadtext {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
}

.shareblock {
    margin-top: 7%;
    text-align: center;
    background-color: white;
    padding: 80px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 5px;
    color: lightgray;
}

.sharefirstrow {
    display: flex;
    justify-content: center;
}

.sharemsg {
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 45px;
    margin-top: -5%;
    color: #172130;
    padding-bottom: 70px;
    border-bottom: 1px solid #172130;
}

.sharebox {
    width: 240px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    margin-top: 2%;
    outline: none;
    background: transparent;
    color: #172130;
    font-size: 15px;
    opacity: 0.5;
}

.namebox {
    width: 120px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;
    background: transparent;
    color: #172130;
    font-size: 15px;
    opacity: 0.5;
}

.sharebox ::-webkit-input-placeholder {
    opacity: 0.5;
}

.sharepair {
    width: max-content;
    padding-top: 40px;
}

.shareform {
    width: 20%;
    font-size: 40px;
    padding-top: 15px;
    padding-right: 15px;
    color: #172130;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sharebtn {
    width: 20%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    justify-content: center;
    background-color: #172130;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
    line-height: 20px;
    top: 10px;
}

.centerbtn {
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chat Page */

.chatroompage {
    background-color: #172130;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.chat-container {
    max-width: 1100px;
    margin: 30px auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 5px;
}

.chat-header {
    background: lightgray;
    color: #172130;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: lightgray;
    color: #fff;
    padding: 20px 20px 60px 40px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    color: #172130;
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
    color: #172130;
}

.chat-sidebar ul li {
    padding: 10px 0;
    color: #172130;
    list-style-type: none;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    color: lightgray;
    background-color: #172130;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: lightgray;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: lightgray;
    padding-left: 10px;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: lightgray;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type="text"] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
    margin-top: 18px;
}

#leave-btn{
    background-color: #172130;
    opacity: 1;
    cursor: pointer;
}

.sndbtn{
    background-color: #172130;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}

/* Join Page */

.chatpage {
    background-color: #172130;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.join-container {
    max-width: 500px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 5px;
}

.join-header {
    text-align: center;
    padding: 20px;
}

.join-main {
    padding: 30px 40px;
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type="text"] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
    background-color: #172130;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}
